body {
    background: #dbf8ff;
    position: relative;
}

header.fixed-navigation {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

nav {
    padding: 0 !important;
    background: white;
}

.navbar-brand > img{
    max-width: 150px
}

.navbar li a {
    font-size: 1.2em;
    color: white;
}

.content-wrapper {
}


.parallax.mikro {
    /* The image used */
    background-image: url(../images/mikrologo1.jpg);

    /* Set a specific height */
    min-height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    position: relative;
    /*padding-top: 150px;*/
}
