@primary: #a86731;
@secondary: #131B27;

* {
  color: black;
}

p {
  line-height: 29px;
}

body {
  background: white;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  //font-family: 'Sigmar One', cursive;
}

h1 {
  color: @primary;
}

h2 {
  color: @secondary;
}

h3 {
  color: @primary;
  font-weight: lighter;
}

.intro h1 {
  width: 100%;
  text-align: center;
  color: @secondary;
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}


header.fixed-navigation {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

nav {
  padding: 0 !important;
  background: white;
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    > img {
      @media (min-width: 992px) {
        margin-top: -10px;
      }
    }
  }
  .navbar-collapse {
    padding-bottom: 10px;
  }
  .navbar-toggler {
    margin-top: 10px;
  }
  &.navbar li {
    a {
      font-size: 1.2em;
      color: white;
    }
    &.support {
      margin-left: 35px;
      text-decoration: underline;
    }
  }
}

.content-wrapper {

}

.main-logo {
  max-height: 500px;
  margin-top: 52px;
  margin-bottom: -80px;
}

.welcome {
  position: relative;
  padding-bottom: 0 !important;
  margin-bottom: -20px;
}

.intro {
  //position: absolute;
  //bottom: 0;
  //right: 0;
  //left: 70%;
  //h3 {
  //  color: @secondary;
  //  font-weight: bold;
  //}
  .tags {
    position: absolute;
    @media (min-width: 576px) {
      bottom: 31%;
      right: 14%;
    }
    @media (min-width: 768px) {
      bottom: 31%;
      right: 22%;
    }
    @media (min-width: 992px) {
      bottom: 31%;
      right: 29%;
    }
    @media (min-width: 1200px) {
      bottom: 31%;
      right: 32%;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
        color: @secondary;
        font-size: 20px;
        line-height: 20px;
    }
  }
    h3 {
      text-align: center;
    }
}

.section {
  &.about {
    margin-top: 50px;
  }

  &.members .member {
    margin-bottom: 50px;
  }
  h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.way-to-contact.direct {
  margin-bottom: 20px;
}

.way-to-contact.direct h3 {
  margin-top: 50px;
}

.way-to-contact.direct div {
  font-size: 22px;
  color: #333;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 600px) {
    min-height: 10px !important;
    background-image: none !important;
    background-color: @secondary;
    margin-left: 15px;
    border-top: solid 5px @primary;
  }
  &.mikro {
    min-height: 675px;
    background-image: url(../images/mikrologo1.jpg);
  }
  &.upcoming {
  }
  &.music {
  }
  &.support {
  }
  &.contact {
  }
}

.content-wrapper > .section {
  position: relative;
  padding-bottom: 40px;
  /*padding-top: 150px;*/
  &.support {
    .way-to-support {
      border-left: 4px solid brown;
      padding: 15px;
      margin-top: 20px;
    }
    .patreon-image {
      img {
        min-height: 420px;
      }
    }
  }
}

.members .member {
  margin-bottom: 15px;
}

.footer-container {
  a {
    color: @primary
  }
}

footer {
  text-align: center;
}

footer .logo {
  max-width: 400px;
}
