* {
  color: black;
}
p {
  line-height: 29px;
}
body {
  background: white;
  position: relative;
}
h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  color: #a86731;
}
h2 {
  color: #131B27;
}
h3 {
  color: #a86731;
  font-weight: lighter;
}
.intro h1 {
  width: 100%;
  text-align: center;
  color: #131B27;
  display: none;
}
@media (min-width: 600px) {
  .intro h1 {
    display: block;
  }
}
header.fixed-navigation {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
nav {
  padding: 0 !important;
  background: white;
}
nav .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 992px) {
  nav .navbar-brand > img {
    margin-top: -10px;
  }
}
nav .navbar-collapse {
  padding-bottom: 10px;
}
nav .navbar-toggler {
  margin-top: 10px;
}
nav.navbar li a {
  font-size: 1.2em;
  color: white;
}
nav.navbar li.support {
  margin-left: 35px;
  text-decoration: underline;
}
.main-logo {
  max-height: 500px;
  margin-top: 52px;
  margin-bottom: -80px;
}
.welcome {
  position: relative;
  padding-bottom: 0 !important;
  margin-bottom: -20px;
}
.intro .tags {
  position: absolute;
}
@media (min-width: 576px) {
  .intro .tags {
    bottom: 31%;
    right: 14%;
  }
}
@media (min-width: 768px) {
  .intro .tags {
    bottom: 31%;
    right: 22%;
  }
}
@media (min-width: 992px) {
  .intro .tags {
    bottom: 31%;
    right: 29%;
  }
}
@media (min-width: 1200px) {
  .intro .tags {
    bottom: 31%;
    right: 32%;
  }
}
.intro .tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.intro .tags li {
  color: #131B27;
  font-size: 20px;
  line-height: 20px;
}
.intro h3 {
  text-align: center;
}
.section.about {
  margin-top: 50px;
}
.section.members .member {
  margin-bottom: 50px;
}
.section h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.way-to-contact.direct {
  margin-bottom: 20px;
}
.way-to-contact.direct h3 {
  margin-top: 50px;
}
.way-to-contact.direct div {
  font-size: 22px;
  color: #333;
}
.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .parallax {
    min-height: 10px !important;
    background-image: none !important;
    background-color: #131B27;
    margin-left: 15px;
    border-top: solid 5px #a86731;
  }
}
.parallax.mikro {
  min-height: 675px;
  background-image: url(../images/mikrologo1.jpg);
}
.content-wrapper > .section {
  position: relative;
  padding-bottom: 40px;
  /*padding-top: 150px;*/
}
.content-wrapper > .section.support .way-to-support {
  border-left: 4px solid brown;
  padding: 15px;
  margin-top: 20px;
}
.content-wrapper > .section.support .patreon-image img {
  min-height: 420px;
}
.members .member {
  margin-bottom: 15px;
}
.footer-container a {
  color: #a86731;
}
footer {
  text-align: center;
}
footer .logo {
  max-width: 400px;
}
